@media screen and (min-width: 430px) {
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    background-color: hsl(30, 38%, 92%);
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid hsl(30, 38%, 92%);
    border-radius: 15px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

figure {
    background-color: hsl(30, 38%, 92%);
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
    width: 100%;
    height: 496px;
}

figure img {
    height: 270px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.box {
    height: 750px;
    padding: 1.5rem;
    color: black;
   background-color: hsl(0, 0%, 100%);
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}

.p1 {
    font-family: 'Montserrat', sans-serif;
}

.p2 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
    font-weight: 900;
}

.p3 {
    font-family: 'Montserrat', sans-serif;
}

.p4 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    color:  rgb(0, 128, 115);
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
}


span {
    color: black;
    font-weight: 100;
    text-decoration: line-through;
    font-size: 15px;
    margin-left: 2rem;
}

button {
     border: solid ;
     border-radius: 10px;
    color:  hsl(0, 0%, 100%);
    background-color:  rgb(0, 128, 115);
    width: 350px;
    height: 55px;
}

button:active {
    border: solid ;
    border-radius: 10px;
   color:  hsl(0, 0%, 100%);
   background-color: rgb(2, 67, 73);
   width: 350px;
   height: 55px;
}
}